header {
	padding: 1rem 0;
}

.headerText {
	font-size: 2rem;
	text-align: center;
}

@media screen and (min-width: 550px) {
	header {
		padding: 1.5rem 2rem;
	}

	.headerText {
		font-size: 2.5rem;
	}
}
